*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  background: url(./image/bg.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
/* general setting ends */

/* app start */
.App{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  box-shadow: 2px 2px 5px black;
}

/* navigation start */
nav{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  color: white;
  border-bottom: 4px solid white;
  background-color: rgba(0, 0, 0, .9);
}
.brandName{
  font-size: 3rem;
}
span{
  color: red;
}
.searchBar{
  margin: auto 0;
}
input{
  font-size: 2rem;
  border-radius: 20px;
  padding: .5rem;
}
/* navigation ends */

/* container start */
.container{
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
  color: white;
}
.leftContainer h1{
  font-size: 10rem;
  font-family: monospace;
  text-shadow: 2px 1px 1px black;
}
.leftContainer p{
  font-size: 2rem;
}
.rightContainer h1{
  font-size: 7rem;
  font-family: cursive;
}
.rightContainer h3{
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* container end */
.windDetails{
  background-color: rgba(0, 0, 0, .2);
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
}
button{
  width: 100%;
  margin-top: 3px;
  padding: 5px;
  border: none;
  font-size: 2.5rem;
  font-family: monospace;
  background-color: rgba(0, 0, 0, .9);
  color: white;
}
button:hover{
  background-color: white;
  color: black;
}
.showMore{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.showMore p{
  background-color: rgba(0, 0, 0, .2);
  font-size: 2rem;
  margin: 4px;
  color: wheat;
  padding: 5px;
  box-shadow: 1px 1px 4px gray; 
} 
/* app end */


/* responsive code */

/* tab device */
@media only screen and (max-width: 700px){
  .App{
    width: 95%;
  }
}
@media only screen and (max-width: 600px){
  html{
    font-size: 55%;
  }
}
@media only screen and (max-width: 500px){
  html{
    font-size: 50%;
  }
}
/* mobile device */
@media only screen and (max-width: 450px){
  .container{
    flex-direction: column-reverse;
  }
  nav{
    padding: 1rem;
  }
  .showMore p{
    font-size: 1.7rem;
  }
  .windDetails p{
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 390px){
  nav{
    flex-direction: column;
    text-align: center;
  }
  input{
    width: 100%;
  }
  .brandName{
    margin-bottom: 1rem;
  }
}
